[submodule "config/.vim/bundle/vundle"]
	path = config/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "config/.vim/bundle/ex-config"]
	path = config/.vim/bundle/ex-config
	url = https://github.com/exvim/ex-config.git
[submodule "config/.vim/bundle/ex-utility"]
	path = config/.vim/bundle/ex-utility
	url = https://github.com/exvim/ex-utility.git
[submodule "config/.vim/bundle/ex-aftercolors"]
	path = config/.vim/bundle/ex-aftercolors
	url = https://github.com/exvim/ex-aftercolors.git
[submodule "config/.vim/bundle/ex-vimentry"]
	path = config/.vim/bundle/ex-vimentry
	url = https://github.com/exvim/ex-vimentry.git
[submodule "config/.vim/bundle/ex-project"]
	path = config/.vim/bundle/ex-project
	url = https://github.com/exvim/ex-project.git
[submodule "config/.vim/bundle/ex-gsearch"]
	path = config/.vim/bundle/ex-gsearch
	url = https://github.com/exvim/ex-gsearch.git
[submodule "config/.vim/bundle/ex-tags"]
	path = config/.vim/bundle/ex-tags
	url = https://github.com/exvim/ex-tags.git
[submodule "config/.vim/bundle/ex-symbol"]
	path = config/.vim/bundle/ex-symbol
	url = https://github.com/exvim/ex-symbol.git
[submodule "config/.vim/bundle/ex-cscope"]
	path = config/.vim/bundle/ex-cscope
	url = https://github.com/exvim/ex-cscope.git
[submodule "config/.vim/bundle/ex-qfix"]
	path = config/.vim/bundle/ex-qfix
	url = https://github.com/exvim/ex-qfix.git
[submodule "config/.vim/bundle/ex-taglist"]
	path = config/.vim/bundle/ex-taglist
	url = https://github.com/exvim/ex-taglist.git
[submodule "config/.vim/bundle/ex-showmarks"]
	path = config/.vim/bundle/ex-showmarks
	url = https://github.com/exvim/ex-showmarks.git
[submodule "config/.vim/bundle/ex-matchit"]
	path = config/.vim/bundle/ex-matchit
	url = https://github.com/exvim/ex-matchit.git
[submodule "config/.vim/bundle/ex-colorschemes"]
	path = config/.vim/bundle/ex-colorschemes
	url = https://github.com/exvim/ex-colorschemes.git
[submodule "config/.vim/bundle/vim-colors-solarized"]
	path = config/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "config/.vim/bundle/ctrlp.vim"]
	path = config/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "config/.vim/bundle/nerdtree"]
	path = config/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "config/.vim/bundle/nerdcommenter"]
	path = config/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "config/.vim/bundle/undotree"]
	path = config/.vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "config/.vim/bundle/vim-easymotion"]
	path = config/.vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "config/.vim/bundle/LargeFile"]
	path = config/.vim/bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile.git
[submodule "config/.vim/bundle/vim-better-whitespace"]
	path = config/.vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "config/.vim/bundle/vim-markdown"]
	path = config/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "config/.vim/bundle/ex-hierarchy"]
	path = config/.vim/bundle/ex-hierarchy
	url = http://github.com/exvim/ex-hierarchy.git
[submodule "config/.vim/bundle/emmet-vim"]
	path = config/.vim/bundle/emmet-vim
	url = http://github.com/mattn/emmet-vim.git
[submodule "config/.vim/bundle/vim-git"]
	path = config/.vim/bundle/vim-git
	url = https://github.com/iprintf/vim-git.git
[submodule "config/.vim/bundle/vim-misc"]
	path = config/.vim/bundle/vim-misc
	url = https://github.com/iprintf/vim-misc.git
